<div class="no-overflow">
    <a id="tickets"></a>
    <section id="ticket-section" class="section-content ticket">
      <div class="section-container ticket">
        <h2 id="title1">
          ECE DINNER DANCE 1T8
        </h2>
        <h2 id="title2">
          PARTY LIKE IT'S 9T9
        </h2>

        <div class="content-wrapper">
          <div class="content">
            <div class="cont1">
              <div class="tickets">Welcome to the World Wide Webpage of this year's ECE Dinner Dance! Take a trip back in time and celebrate the 90's and early aughts!</div>
              <div class="clippy"></div>
            </div>
            <div class="cont2">
              <div class="friends"></div>
              <div class="eventInfo">When? <br> Friday, February 16, 2018 <br> Where? <br> Eglinton Grand <br> 400 Eglinton Ave. W.</div>
            </div>
            <div class="cont3">
              <div class="will"></div>
              <div class="transport"></div>
            </div>

            <div class="cont4">
              <h2 class='tickettitle'>TICKETS SOLD OUT!</h2>
              <h3 class='ticketinfo'>see you at the event</h3>
            </div>

        </div>

      </div>
    </section>
</div>
