<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-10 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                            <i class="icon-coffee green"></i>
                            Please Change Your Password
                        </h4>

                        <div class="space-16"></div>

                        <form name="passwordForm" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="ticketNum"> Current Password </label>
                                <div class="col-sm-7">
                                   <span class="block input-icon input-icon-right">
                                        <input type="password" class="form-control" placeholder="Current Password" ng-model="credentials.currentPass" required focus/>
                                        <i class="ace-icon fa fa-user"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="password"> New Password </label>
                                <div class="col-sm-7">
                                   <span class="block input-icon input-icon-right">
                                        <input type="password" class="form-control" placeholder="Password" ng-model="credentials.newPass" required/>
                                        <i class="ace-icon fa fa-lock"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="password"> New Password Confirmation</label>
                                <div class="col-sm-7">
                                   <span class="block input-icon input-icon-right">
                                        <input type="password" class="form-control" placeholder="Password" name="newPass2" ng-model="credentials.newPass2" password-match="credentials.newPass" required/>
                                        <small class="errorMessage" data-ng-show="passwordForm.newPass2.$dirty && passwordForm.newPass2.$error.passwordNoMatch && !passwordForm.newPass2.$error.required"> Passwords do not match.</small>
                                        <i class="ace-icon fa fa-lock"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="space"></div>
                            <div class="clearfix">
                                <div class="row">
                                    <label class="col-sm-3 control-label no-padding-right"> </label>
                                    <div class="col-sm-7">
                                        <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="changePassword(credentials)" data-ng-disabled="passwordForm.$invalid">
                                        <i class="ace-icon fa fa-key"></i>
                                            Change Password
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="space-4"></div>
                        </form>
                    </div><!-- /widget-main -->
                </div><!-- /widget-body -->
            </div><!-- /login-box -->

        </div><!-- /position-relative -->
    </div>
</div><!-- /.page-content -->